archives/

Desktop.ini

/nbproject/private
/dist
/build
/s2/ihm/demo/nbproject/private/
/s2/ihm/serie_1/nbproject/private/
/s2/ihm/serie_2/nbproject/private/
/s2/ihm/serie_2/dist/
/s2/ihm/serie_2/build/