<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestYoutube"
        tools:targetApi="31">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.DetailVideoActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_video" />
        <activity
            android:name=".views.activities.SaveVideoActivity"
            android:exported="false"
            android:label="@string/title_activity_add_video"
            android:theme="@style/Theme.BestYoutube" />
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>